<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Luis Whitaker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    {% csrf_token %}
    <div class="container row">
      {% for item in items %}
        <a href="{% url 'post page' item.id %}">
          <h4>{{item.title}}</h4>
          <p>{{item.content}}</p>
        </a>

      {% endfor %}
      <div class="center-align col s12">Blog posts</div>
      <div class="center-align col s12">This is the second div</div>
    </div>
  </body>
</html>
