{% extends "blogindex.html" %}
{% load static %}
{% block content %}
  {% csrf_token %}
  <img src="{% static 'images/snow-trees.jpg' %}" alt="image" style="width:100%; position:relative; text-align: center; height: 50vh; object-fit: cover;"> <!-- Image: remove later | extend template -->
  <div style="position: absolute; top: 30vh;left: 50%; transform: translate(-50%, -50%);">
    <h1 class="blue-grey-text text-darken-4 center-align" style="font-size:4vw;"><b>Blog Posts</b></h1>
  </div>
  <div class="container"> <!-- main body items -->
    <div class="container row"> <!-- blog previews -->
      {% for item in page_obj %}
        <a href="{% url 'post page' item.id %}" id="preview">
          <h4 class="blue-grey-text text-darken-4">{{item.title|title}}</h4>
        </a>
          <p>{{item.content|safe|truncatewords:30}}<br>Tags:</p>
          <div class="divider"></div>
      {% endfor %}
    </div>
    <div class="pagination"> <!-- pagination buttons -->
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
          {% endif %}
      </span>
    </div>
  </div>
{% endblock %}
