{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Luis John Whitaker</title>
  <link rel="stylesheet" href="{% static '/css/materialize.min.css' %}">
</head>
  <body>
    {% csrf_token %}
    <a href="{% url 'blog home' %}">
      <header class="">
        <h6 class="center-align purple-text text-lighten-2">
          <b>Luis John Whitaker</b>
        </h6>
      </header>
    </a>
    <img src="{% static 'images/snow-trees.jpg' %}" alt="image" style="width:100%; position:relative; text-align: center; height: 60vh; object-fit: cover;"> <!-- Image: remove later | extend template -->
    <div style="position: absolute; top: 30vh;left: 50%; transform: translate(-50%, -50%);">
      <h1 class="blue-grey-text text-darken-4 center-align" style="font-size:4vw;"><b>Blog Posts</b></h1>
    </div>
    <div class="container"><!-- blog previews -->
      <div class="container row">
        {% for item in items %}
          <a href="{% url 'post page' item.id %}">
            <h4 class="black-text">{{item.title}}</h4>
            <p class="grey-text">{{item.content}}<br>Tags:</p>
            <div class="divider"></div>
          </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
