{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Luis John Whitaker</title>
    <link rel="stylesheet" href="{% static '/css/materialize.min.css' %}">
  </head>
  <body>
    <a href="{% url 'portfolio home' %}"> <!-- Header: remove later | extend template -->
      <header class="">
        <h6 class="center-align purple-text text-lighten-2">
          <b>Luis John Whitaker</b>
        </h6>
      </header>
    </a>
    {% block content %}
    {% endblock %}
  </body>
</html>
